.embla {
  overflow: hidden;
  background-color: #0a0a0a;
}
.embla__container {
  display: flex;
  margin-top: 20px;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
img {
  width: 20%;
}
@media (max-width: 768px) {
  img {
    width: 33%;
  }
}
